/* стили для слайдера */
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
  position: relative;
  overflow: hidden;
}
/* стили для контейнера слайдов */
.slider__items {
  display: flex;
  transition: transform 1.8s ease-in-out;
}
/* стили для слайдов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}
/* стили для индикаторов */
.slider__indicators {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 35%;
  z-index: 15;
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  line-height: 3em;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.slider li:hover {
  background-color: #fc0;
}
.slider__indicators li.active {
  background-color: #fc0;
}
/* для стилизации текущего слайдера */
.img-fluid {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
